// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin remove_gradient($color:transparent) {
    background-color:$color;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.about {
	margin: 0em 3em 2.3em 3em;
	border-radius: 4px;
	background-color: #f7f7f7;
	text-align: center;
	height: 30em;
	color:#393d42;
}

.work {
	border-radius: 4px;
	background: #f7f7f7;
	text-align: center;
	height: 40em;
	color:#393d42;
	margin: 0em 3em 2.3em 3em;
}

.contact {
	margin-bottom:2em;
	border-radius: 4px;
	background: #f7f7f7;
	text-align: center;
	height: 30em;
	color:#393d42;
	margin: 0em 3em 2.3em 3em;
}

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}


.navbar {
	@include remove_gradient(#cfcfcf);	
}

.navbar-inner {
	padding: .2em;
	@include remove_gradient(#f7f7f7);
	border-radius: 1px;
	height: 1.1em;
	font-size: 3em;
	padding-right:5em;
	border: none;
	text-align: center;
}

body {
	background-color: #cfcfcf;
}
