// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin remove_gradient($color:transparent) {
    background-color:$color;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}


.about {
	margin-top: 10%;
	border-radius: 4px;
	background-color: white;
	text-align: center;
	height: 20em;
	box-shadow: 5px 5px #dcdcdc;
}

.work {
	border-radius: 4px;
	background: white;
	text-align: center;
	height: 30em;
	box-shadow: 5px 5px #dcdcdc;
}

.contact {
	border-radius: 4px;
	background: white;
	text-align: center;
	height: 14em;
	box-shadow: 5px 5px #dcdcdc;
}

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}


.navbar {
	@include remove_gradient(#f5f5f5);	
}

.navbar-inner {
	padding: .2em;
	@include remove_gradient(white);
	border-radius: 1px;
	height: 2em;
	font-size: 3em;
	width: 80%;
	border: none;
	text-align: center;
	box-shadow: 5px 5px #dcdcdc;

}

body {
	background-color: #f5f5f5;
}
